@import '~semantic-ui-css/semantic.min.css';

html,
body {
  height: 100%;
  overflow: hidden;
}

.App {
  text-align: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  display: flex;
  flex: 1;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.header-container {
  display: flex;
  background-color: #262626;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.icon-container {
  height: 70px;
  width: 90px;
}

.header-text {
  display: flex;
  width: 100%;
  margin-left: 20px;
  font-size: 22px;
  font-weight: bold;
  color: #6ca12b;
}

.body-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 79px 10px 60px 10px;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: white;
  height: auto;
}

.footer-container {
  display: flex;
  background-color: #262626;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-text {
  display: flex;
  flex: 1;
  margin-left: 20px;
  font-size: 16px;
  font-weight: 600;
  color: #6ca12b;
}

.action-icons {
  flex-direction: row;
}

.action-icon {
  width: 35px;
  height: 35px;
  margin-right: 20px;
}

.search-container {
  width: 90%;
  height: auto;
}

.search-input {
  width: 89%;
  height: 50px;
}

.button {
  width: 125px;
  height: 57px;
  background-color: #6ca12b;
  border: solid 0px #6ca12b;
  border-radius: 0px;
  color: white;
  font-size: 16px;
}

.card-container {
  display: flex;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #2626263b;
  flex-direction: column;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 40px;
  width: 324px;
  height: 360px;
}

.card-upper-body {
  height: 231px;
}

.card-lower-body {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 20px 18px;
  text-align: left;
}

.cord-collection-wrapper {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
}

.card-img {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.card-title {
  font-size: 22px;
  color: black;
  font-weight: 600;
}

.card-author {
  margin-top: 5px;
  font-size: 14px;
  color: grey;
  font-weight: 400;
}
.card-price {
  margin-top: 5px;
  text-align: left;
  font-weight: 600;
}

.pagination-wrapper {
  margin-top: 18px;
}

.sort-by-label {
  width: 200px;
  text-align: left;
}
